.entry-container{
    color:#fff;
    margin:0 auto;
    box-sizing:border-box;
   
    
}
.entry{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:100vh;

}
.entry h1{
    margin-bottom:20px;
}

.entry p{
    font-weight:700;
}
.entry .clarify{
    position: absolute;
    right:650px;
}

.design button{
    margin-top:20px;
    height:45px;
    width:260px;
    color:#fff;
    background-color: orange;
    border:1px outset orange;
    font-weight: 500;
}

@media screen and (max-width:375px){

    .all{
        box-sizing:border-box;
        margin:0;
        padding:0;
        overflow:hidden;
    }
    .entry p{
        text-align:center;
    }

    .entry-conatiner{
        height:10px;
        width:40%;
        text-align:center;
        overflow-x: hidden;
        background-position:center;
    }
    
}


