.entry-container{
    color:#fff;
    margin:0 auto;
    box-sizing:border-box;
   
    
}
.entry{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:120vh;

}
.entry h1{
    margin-bottom:20px;
    
}

.entry p{
    font-weight:700;
   
}

.entry .clarify{
    position: absolute;
    right:650px;
}

.design button{
    margin-top:20px;
    color: #fff;
    background-color: #f5a623;
    height:45px;
    width:260px;
    color:#fff;
    font-weight: 500;
    font-size:12px;
    line-height:14px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px;
    text-align: center;
       
}

.lastsection .sweety{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.white{
    background-color:white;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 #ccc;
    color: #202a3c;
    cursor: pointer;
    display: inline-block;
    text-align:center;
    padding:12px 18px;
    height:45px;
    font-size: 12px;
    font-weight: 700;
    transform: translateY(-5px);
}


@media screen and (max-width:767px){

    .all{
        box-sizing:border-box;
        margin:0;
        padding:0;
        overflow:hidden;
    }
    .entry p{
        text-align:center;
        width:365px;
    }

    .lastsection{
        align-items:center;
    }

    .lastsection .sweety{
        width:365px;
        font-size:20px;
        font-weight: 700;

    }
    
}


